@import './assets/css/boxes.css';
@import './assets/css/nav.css';
@import './assets/css/anagrafica.css';
@import './assets/css/specifiche.css';

* {
    box-sizing: border-box;
    font-family:  "Roboto", sans-serif, ui-sans-serif;
    margin: 0;
}

.container {
    align-items: center;
    display: flex;
    flex-direction: column;
    height: 45px;
    margin-top: 120px;
    width: 100%;
}

.container h1 {
    color: #000;
    font-size: 45px;
    font-style: normal;
    font-weight:bolder;
    text-transform:uppercase;
    text-align: center;
}

.container h2 {
    color: #000;
    font-style: normal;
    font-weight: normal;
    margin: revert;
    text-align: center;
}

.code-patient{
    color:white;
    float: left;
    font-family: "Roboto", sans-serif, ui-sans-serif;
    margin-left: 15px;
    margin-top: 15px;
}

.cyan{
    background-color: #1a7fa0; 
    height: 50px;
    left: 0px;
    position: absolute;
    top: 55px;  
    width: 100%;
}

.emergency{
    color:white;
    float: right;
    font-family: "Roboto", sans-serif, ui-sans-serif;
    margin-right: 40px;
    margin-top: 15px;
}

.green{
    background-color: #057e05; 
    height: 50px;
    left: 0px;
    position: absolute;
    top: 55px;  
    width: 100%;

}

.navbarup {
    align-items: center;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    min-height: 100%;
    position: relative;
    width: 100%;
}

.orange{
    background-color: #fa6c06; 
    height: 50px;
    left: 0px;
    position: absolute;
    top: 55px;
    width: 100%;
}

.red {
    background-color: #d30505;
    height: 50px;
    left: 0px;
    position: absolute;
    top: 55px;
    width: 100%;
}

.white{
    background-color: white;
    border: 1px solid black;
    height: 50px;
    left: 0px;
    position: absolute;
    top: 55px;  
    width: 100%;
}

.white > .code-patient{
    color: black;
    float: left;
    font-family: "Roboto", sans-serif, ui-sans-serif;
    margin-left: 15px;
    margin-top: 15px;
}

.white > .emergency{
    color: black;
    float: right;
    font-family: "Roboto", sans-serif, ui-sans-serif;
    margin-right: 40px;
    margin-top: 15px;
}

@media screen and (max-width: 768px) {
    footer{
        display: none;
    }

    .burger {
        cursor: pointer;
        float: right;
        margin-right: 20%;
        margin-top: 5.2%;
        position: absolute;
        right: 1%;
        top: 8%;
        width: 10%;  
    }

    .container{
        align-items: center;
        display: flex;
        flex-direction: column;
        height: 20px;
        margin-top: 2%;
        width: 100%;    
    }

    .container h1 {
        color: #000;
        font-size: 30px;
        font-style: normal;
        font-weight: bolder;
        text-align: center;
        text-transform: uppercase;
    }

    .container h2{
        margin-top: 4%;
    }
    
    .open-menu {
        background: #9ebfb4;
        border-bottom-left-radius: 10px;
        border-bottom-right-radius: 10px;
        left: 75%;
        position: relative;
        top: 72px;
        width: 20%;
        z-index: 20;
    }
}



