img{
    cursor: pointer;
}

h3 {
    color: #000;
    font-style: normal;
    font-weight: 300;
    font-size: 26px;
    height: 30px;
    left: 160px;
    line-height: 30px;
    position: absolute;
    text-transform: uppercase;
    top: 130px;
    width: 186px;
}

.back {
    background: none;
    border-style: none;
    flex: auto;
    margin-top: -15%;
    margin-left: -43%;
    width: 6%;
    float: left;
}

.birthday > input {
    border: 1px solid #000000;
    border-radius: 5px;
    height: 45px;
    margin-bottom: 15px;
    width: 48%;
}

.bloodtype > select {
    background: #FFFFFF;
    border: 1px solid #000000;
    box-sizing: border-box;
    border-radius: 5px;
    height: 45px;
    margin-bottom: 15px;
    width: 35%;
}

.cf > input {
    border: 1px solid #000000;
    border-radius: 5px;
    height: 45px;
    margin-bottom: 15px;
    width: 100%;
}

.city > input {
    border: 1px solid #000000;
    border-radius: 5px;
    float: left;
    height: 45px;
    margin-left: 52%;
    margin-top: -60px;
    width: 48%;
}

.compile{
    float: left;
    flex: 50%;
    margin-left: 0;
    margin-top: 5%;
}

.icon-print > #save {
    background: rgba(158, 191, 180, 0.5);
    border: 1px solid #000000;
    border-radius: 5px;
    cursor: pointer;
    height: 40px;
    position: absolute;
    right: 14%;
    top: 128px;
    width: 90px;
}

.icon-print{
    margin-top: -2%;
}

.icon-print > img {
    cursor: pointer;
    height: 5%;
    left: 112%;
    margin-top: -4%;
    position: relative;
}

.name > input {
    border: 1px solid #000000;
    border-radius: 5px;
    height: 45px;
    margin-bottom: 15px;
    width: 300px;
}

.next {
    background: none;
    border-style: none;
    flex: auto;
    float: right;
    margin-right: -35%;
    margin-top: -15%;
    width: 6%;
}

.pharmacy {
    margin-left: 0%;
    width: 629px;
}

.region > input {
    border: 1px solid #000000;
    border-radius: 5px;
    height: 45px;
    margin-bottom: 15px;
    width: 48%;
}

.residency > input {
    border: 1px solid #000000;
    border-radius: 5px;
    height: 45px;
    margin-bottom: 15px;
    width: 75%;
}

.rh > select {
    border: 1px solid #000000;
    border-radius: 5px;
    float: left;
    height: 45px;
    margin-left: 44%;
    margin-top: -60px;
    width: 25%;
}

.sex > select{
    border: 1px solid #000000;
    border-radius: 5px;
    float: left;
    height: 45px;
    margin-left: 80%;
    margin-top: -60px;
    width: 20%;
}

.state > input {
    border: 1px solid #000000;
    border-radius: 5px;
    float: left;
    height: 45px;
    margin-left: 52%;
    margin-top: -60px;
    width: 48%;
}

.street-num > input {
    border: 1px solid #000000;
    border-radius: 5px;
    float: left;
    height: 45px;
    margin-bottom: 15px;
    margin-left: 80%;
    margin-top: -60px;
    width: 20%;
}

.surname > input {
    border: 1px solid #000000;
    border-radius: 5px;
    float: left;
    height: 45px;
    margin-left: 52%;
    margin-top: -60px;
    width: 48%;
}

/*media query tablet*/
@media screen and (max-width: 768px) {
    h3 {
        color: #000;
        font-size: 26px;
        font-style: normal;
        font-weight: 300;
        height: 30px;
        left: 50px;
        line-height: 30px;
        position: absolute;
        text-transform: uppercase;
        top: 18%;
        width: 186px;
    }

    #important {
        font-size: 87%;
        margin-bottom: 1%;
        margin-top: -13px;
        width: 89%;
    }

    .back {
        background: none;
        border-style: none;
        flex: auto;
        float: right;
        margin-right: 105%;
        margin-top: -50%;
        width: 14%;
    }

    .bloodtype > select{
        height: 45px;
        width: 45%;
    }

    .cf > input {
        height: 45px;
        width: 100%;
        margin-bottom: 5%;
    }

    .compile {
        flex: 50%;
        float: left;
        margin-bottom: 32px;
        margin-left: 9%;
        margin-top: 22%;
        width: 83%;
    }

    .container{
        height: inherit;
    }

    .icon-print > #save {
        background: rgba(158, 191, 180, 0.5);
        border: 1px solid #000000;
        border-radius: 5px;
        cursor: pointer;
        height: 6%;
        position: absolute;
        right: 5%;
        top: 17%;
        width: 10%;
    }

    .icon-print  > img{
        display: none;
    }

    .name > input, .birthday > input, .region > input  {
        height: 45px;
        width: 48%;
    }

    .next {
        background: none;
        border-style: none;
        flex: auto;
        float: right;
        margin-right: -14%;
        margin-top: -50%;
        width: 14%;
    }

    .residency > input{
        height: 45px;
        width: 75%;
    }

    .rh > select {
        height: 45px;
        margin-left: 52%;
        margin-top: -60px;
        width: 20%;
    }

    .select2-container--default .select2-selection--multiple {
        background-color: white;
        border: 1px solid #aaa;
        border-radius: 4px;
        cursor: text;
        padding-bottom: 5px;
        padding-right: 5px;
        position: relative;
        width: 523px;
    }

    .sex > select {
        border: 1px solid #000000;
        border-radius: 5px;
        float: left;
        height: 45px;
        margin-left: 80%;
        margin-top: -60px;
        width: 20%;
    }

    .street-num > input{
        height: 45px;
        margin-left: 80%;
        margin-top: -60px;
        width: 20%;
    }

    .surname > input, .state > input, .city > input {
        height: 45px;
        margin-left: 52%;
        margin-top: -60px;
        width: 48%;
    }
}

/* media query frecce 1*/
@media only screen and (max-width:1900px) and (min-width: 1600px) {
    .back {
        margin-right: 150%;
        margin-top: 1%;
        width: 5%;
    }

    .compile {
        flex: 50%;
        float: left;
        margin-bottom: 65px;
        margin-left: 0%;
        margin-top: 5%;
    }

    .next {
        margin-right: -150%;
        margin-top: 1%;
        width: 5%;
    }
}
/*media query frecce 2*/
@media only screen and (max-width: 1200px) and (min-width: 768px) {
    .back {
        margin-top: -8%;
        margin-left: -10%;
        width: 6%;
    }
    .next {
        margin-right: -10%;
        margin-top: -8%;
        width: 6%;
    }

    .compile {
        margin-top: 5%;
    }
}


/*media query stampante*/
@media only screen and (max-width:2000px) and (min-width: 1500px) {
    .icon-print > img {
        left: 110%;
    }
}

@media only screen and (max-width:1500px) and (min-width: 1148px) {
    .icon-print > img {
        left: 90%;
    }
}

@media only screen and (max-width:1148px) and (min-width: 1090px) {
    .icon-print > img {
        left: 90%;
    }
}

@media only screen and (max-width:1090px) and (min-width: 770px) {
    .icon-print > img {
        left: 68%;
    }
}

