.boxes {
    align-items: center;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.boxes > .dropdown > .btn {
    background-color: #d30505;
    background-size: cover;
    border-radius: 50%;
    border-style: none;
    cursor: pointer;
    height: 150px;
    margin-right: 2rem;
    margin-top: 3rem;
    position: relative;
    width: 150px;
}

.boxes > .dropdown1 > .btn {
    background-color: #fa6c06;
    background-size: cover;
    border-radius: 50%;
    border-style: none;
    cursor: pointer;
    height: 150px;
    margin-right: 2rem;
    margin-top: 3rem;
    position: relative;
    width: 150px;
}

.boxes > .dropdown2 > .btn {
    background-color: #1a7fa0;
    background-size: cover;
    border-radius: 50%;
    border-style: none;
    cursor: pointer;
    height: 150px;
    margin-right: 2rem;
    margin-top: 3rem;
    position: relative;
    width: 150px;  
}

.boxes > .dropdown3 > .btn {
    background-color: #057e05;
    background-size: cover;
    border-radius: 50%;
    border-style: none;
    cursor: pointer;
    height: 150px;
    margin-right: 2rem;
    margin-top: 3rem;
    position: relative;
    width: 150px;
}

.boxes > .dropdown4 > .btn {
    background-color: white;
    background-size: cover;
    border-radius: 50%;
    border: 1px solid;
    cursor: pointer;
    height: 150px;
    margin-right: 2rem;
    margin-top: 3rem;
    position: relative;
    width: 150px;
}

.boxes > .dropdown > .btn > span {
    bottom: 55px;
    color: white;
    font-family: "Roboto", sans-serif, ui-sans-serif;
    font-size: 28px;
    font-style: normal;
    font-weight: normal;
    left: 0;
    position: absolute;
    width: inherit;
}

.boxes > .dropdown1 > .btn > span {
    bottom: 55px;
    color: white;
    font-family: "Roboto", sans-serif, ui-sans-serif;
    font-size: 28px;
    font-style: normal;
    font-weight: normal;
    left: 0;
    position: absolute;
    width: inherit;
}

.boxes > .dropdown2 > .btn > span {
    bottom: 55px;
    color: white;
    font-family: "Roboto", sans-serif, ui-sans-serif;
    font-size: 28px;
    font-style: normal;
    font-weight: normal;
    left: 0;
    position: absolute;
    width: inherit;
}

.boxes > .dropdown3 > .btn > span {
    bottom: 55px;
    color: white;
    font-family: "Roboto", sans-serif, ui-sans-serif;
    font-size: 28px;
    font-style: normal;
    font-weight: normal;
    left: 0;
    position: absolute;
    width: inherit;
}

.boxes > .dropdown4 > .btn > span {
    bottom: 55px;
    color: #000;
    font-family: "Roboto", sans-serif, ui-sans-serif;
    font-size: 28px;
    font-style: normal;
    font-weight: normal;
    left: 0;
    position: absolute;
    width: inherit;
}

.boxes > .dropdown > .btn:hover {
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24),0 17px 50px 0 rgba(0,0,0,0.19) ;
}

.boxes > .dropdown1 > .btn:hover {
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24),0 17px 50px 0 rgba(0,0,0,0.19);
}

.boxes > .dropdown2 > .btn:hover {
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24),0 17px 50px 0 rgba(0,0,0,0.19);
}

.boxes > .dropdown3 > .btn:hover {
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24),0 17px 50px 0 rgba(0,0,0,0.19);
}

.boxes > .dropdown4 > .btn:hover {
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24),0 17px 50px 0 rgba(0,0,0,0.19);
}

.dropdown {
    display: inline-block;
    position: relative;
}

.dropdown-content {
    background-color: #d30505;
    border-radius: 10px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    color: white;
    display: none;
    font-family: "Roboto", sans-serif, ui-sans-serif;
    margin: 0.5px;
    min-width: 160px;
    padding: 12px 16px;
    position: absolute;
    z-index: 1;
}

.dropdown:hover .dropdown-content {
    display: block;
}

.dropdown1 {
    display: inline-block;
    position: relative;
}

.dropdown-content1 {
    background-color: #fa6c06;
    border-radius: 10px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    color: white;
    display: none;
    font-family: "Roboto", sans-serif, ui-sans-serif;
    margin: 0.5px;
    min-width: 160px;
    padding: 12px 16px;
    position: absolute;
    z-index: 1;
}

.dropdown1:hover .dropdown-content1 {
    display: block;
}

.dropdown2 {
    display: inline-block;
    position: relative;
}

.dropdown-content2 {
    background-color: #1a7fa0;
    border-radius: 10px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    color: white;
    display: none;
    font-family: "Roboto", sans-serif, ui-sans-serif;
    margin: 0.5px;
    min-width: 160px;
    padding: 12px 16px;
    position: absolute;
    z-index: 1;
}

.dropdown2:hover .dropdown-content2 {
    display: block;
}

.dropdown3 {
    display: inline-block;
    position: relative;

}

.dropdown-content3 {
    background-color: #057e05;
    border-radius: 10px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    color: white;
    display: none;
    font-family: "Roboto", sans-serif, ui-sans-serif;
    margin: 0.5px;
    min-width: 160px;
    padding: 12px 16px;
    position: absolute;
    z-index: 1;
}

.dropdown3:hover .dropdown-content3 {
    display: block;
}

.dropdown4 {
    display: inline-block;
    position: relative;
}

.dropdown-content4 {
    background-color: white;
    border-radius: 10px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    color: #000;
    display: none;
    font-family: "Roboto", sans-serif, ui-sans-serif;
    margin: 0.5px;
    min-width: 160px;
    padding: 12px 16px;
    position: absolute;
    z-index: 1;
}

.dropdown4:hover .dropdown-content4 {
    display: block;
}

@media screen and (max-width: 768px) {
    .boxes {
        align-content: center;
        align-items: flex-start;
        display: flex;
        flex-direction: column;
        flex-wrap: nowrap;
        justify-content: center;
        margin-top: 12%;      
    }

    .boxes > .dropdown > .btn {
        background-color: #d30505;
        background-size: cover;
        border-radius: 50%;
        border-style: none;
        cursor: pointer;
        height: 95px;
        margin-top: 5%;
        position: relative;
        width: 95px;    
    }

    .boxes > .dropdown1 > .btn {
        background-color: #fa6c06;
        background-size: cover;
        border-radius: 50%;
        border-style: none;
        cursor: pointer;
        height: 95px;
        margin-top: 5%;
        position: relative;
        width: 95px;  
    }

    .boxes > .dropdown2 > .btn {
        background-color: #1a7fa0;
        background-size: cover;
        border-radius: 50%;
        border-style: none;
        cursor: pointer;
        height: 95px;
        margin-top: 5%;
        position: relative;
        width: 95px;  
    }

    .boxes > .dropdown3 > .btn {
        background-color: #057e05;
        background-size: cover;
        border-radius: 50%;
        border-style: none;
        cursor: pointer;
        height: 95px;
        margin-top: 5%;
        position: relative;
        width: 95px;  
    }

    .boxes > .dropdown4 > .btn {
        background-color: white;
        background-size: cover;
        border-radius: 50%;
        border: 1px solid;
        cursor: pointer;
        height: 95px;
        margin-top: 5%;
        position: relative;
        width: 95px;
    }

    .boxes > .dropdown > .btn > span {
        bottom: 42%;
        color: white;
        font-family: "Roboto", sans-serif, ui-sans-serif;
        font-style: normal;
        font-size: 20px;
        font-weight: normal;
        left: 0;
        position: absolute;
        width: inherit;
    }

    .boxes > .dropdown1 > .btn > span {
        bottom: 42%;
        color: white;
        font-family: "Roboto", sans-serif, ui-sans-serif;
        font-style: normal;
        font-size: 20px;
        font-weight: normal;
        left: 0;
        position: absolute;
        width: inherit;
    }

    .boxes > .dropdown2 > .btn > span {
        bottom: 42%;
        color: white;
        font-family: "Roboto", sans-serif, ui-sans-serif;
        font-style: normal;
        font-size: 20px;
        font-weight: normal;
        left: 0;
        position: absolute;
        width: inherit;
    }

    .boxes > .dropdown3 > .btn > span {
        bottom: 42%;
        color: white;
        font-family: "Roboto", sans-serif, ui-sans-serif;
        font-style: normal;
        font-size: 20px;
        font-weight: normal;
        left: 0;
        position: absolute;
        width: inherit;
    }

    .boxes > .dropdown4 > .btn > span {
        bottom: 42%;
        color: #000;
        font-family: "Roboto", sans-serif, ui-sans-serif;
        font-style: normal;
        font-size: 20px;
        font-weight: normal;
        left: 0;
        position: absolute;
        width: inherit;
    }

    .dropdown-content{
        display: inline;
        margin-top: 12%;
        margin-left: 20%;
        padding: 8px 10px;
    }

    .dropdown:hover .dropdown-content {
        display:inline-block;
    }

    .dropdown-content1{
        display: inline;
        margin-top: 12%;
        margin-left: 20%;
        padding: 8px 10px;
    }

    .dropdown1:hover .dropdown-content1 {
        display:inline-block;
    }

    .dropdown-content2{
        display: inline;
        margin-top: 8%;
        margin-left: 20%;
        padding: 5px 10px;
    }

    .dropdown2:hover .dropdown-content2 {
        display:inline-block;
    }

    .dropdown-content3{
        display: inline;
        margin-top: 13%;
        margin-left: 20%;
        padding: 8px 10px;
    }

    .dropdown3:hover .dropdown-content3 {
        display:inline-block;
    }

    .dropdown-content4{
        display: inline;
        margin-top: 12%;
        margin-left: 20%;
        padding: 8px 10px;
    }

    .dropdown4:hover .dropdown-content4 {
        display:inline-block;
    }    
}

@media only screen and (max-width:950px) and (min-width: 768px) {
    .boxes {
        align-content: center;
        align-items: center;
        display: flex;
        flex-wrap: nowrap;
        flex-direction: row;
        justify-content: space-around;
    }
}