footer {
    background: #9ebfb4;
    bottom: 0%;
    color: #000; 
    height: 5%; 
    left: 0%;
    position: fixed;
    text-align: center;
    width: 100%;
}

footer p {
    margin-top: 0.5%;
}

nav a {
    color: #000;
    font-style:normal;
    text-decoration: revert;
}

.burger{
    cursor: pointer;  
    float: right;
    margin-right: 20%;
    margin-top: 5.2%;
    position: absolute;
    right: 1%;
    top: 8%;
    width: 10%;
}

.header {
    align-items: center;
    background: #9ebfb4;
    display: flex;
    height: 3rem;
    justify-content: flex-start;
    margin: auto;
    width: 100vw;
}

.hour {
    color: #000;
    font-size: 14px;
    font-style: normal;
    height: 41px;
    left: 20px;
    line-height: 28px;
    position: absolute;
    top: 14px;
    width: auto;
}

.link {
    display: none;
    font-family: "Roboto", sans-serif, ui-sans-serif;
    font-weight: bold;
    list-style-type: none;
    margin-bottom: 20px;
    margin-left: 18px;
    margin-top: 20px;
    padding: 0%;
    text-align: center;
}

.link > img {
    float: left;
    margin: 1px;
    width: 20px;
}

.opnum {
    color: #000;
    font-size: 19px;
    font-style: normal;
    height: 28px;
    line-height: 28px;
    position: absolute;
    right: 10px;
    top: 8px;
    width: 200px;
}

.opnum > p {
    margin-top: 5px;
    font-size: 15px;
}

.open-menu {
    background: #9ebfb4;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    display: inline-block;
    height: max-content;
    position: relative;
    left: 84.5%;
    top: 72px;
    width: 12%;
    z-index: 20;
}

.open-menu.window .link{
    display: block;
}

@media only screen and (max-width:1200px) and (min-width: 770px) {
  .open-menu {
    background: #9ebfb4;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    display: inline-block;
    height: max-content;
    left: 71.5%;
    position: relative;
    top: 72px;
    width: 22%;
    z-index: 20;
  }
}