form{
    margin-bottom: 65px;
}

.back1 {
    background: none;
    border-style: none;
    flex: auto;
    float: left;
    position: relative;
    width: 2rem;
}

.breath-frequency > input {
    border: 1px solid #000000;
    border-radius: 5px;
    height: 35px;
    margin-bottom: 15px;
    width: 560px;
}

.clm-left {
    flex: 50%;
    float: left;
    margin-top: 2rem;
    width: 680px;
}

.clm-right {
    flex: 50%;
    float: left;
    margin-left: auto;
    margin-top: 1rem;
    padding: 1rem;
    width: 680px;
}

.covid > input {
    border: 1px solid #000000;
    border-radius: 5px;
    height: 35px;
    margin-bottom: 15px;
    width: 560px;
}

.firstDiag > input {
    border: 1px solid #000000;
    border-radius: 5px;
    flex-wrap: wrap;
    height: 185px;
    margin-bottom: 15px;
    margin-left: 50px;
    padding-bottom: 10rem;
    text-align: center;
    width: 560px;
}

.hearth-rate > input {
    border: 1px solid #000000;
    border-radius: 5px;
    height: 35px;
    margin-bottom: 15px;
    width: 560px;
}

.icon-print2 > #save {
    background: rgba(158, 191, 180, 0.5);
    border: 1px solid #000000;
    border-radius: 5px;
    cursor: pointer;
    height: 40px;
    position: absolute;
    right: 23%;
    top: 128px;
    width: 90px;
}

.icon-print2{
    margin-top: -2%;
}

.home {
    flex: 50%;
    float: left;
    margin-left: 5%;
    margin-top: -2.5%;
    position: absolute;
    width: 2%;
}

.link2 > h3{
    margin-left: 4%;
    margin-top: 0.2%;
}

.note  > input {
    border: 1px solid #000000;
    border-radius: 5px;
    flex-wrap: wrap;
    height: 185px;
    margin-bottom: 15px;
    margin-left: 50px;
    padding-bottom: 10rem;
    text-align: center;
    width: 560px;
}

.peak-flow> input{
    border: 1px solid #000000;
    border-radius: 5px;
    height: 35px;
    margin-bottom: 15px;
    width: 560px;
}

.pressure > input {
    border: 1px solid #000000;
    border-radius: 5px;
    height: 35px;
    margin-bottom: 15px;
    width: 560px;
}

.saturation > input {
    border: 1px solid #000000;
    border-radius: 5px;
    height: 35px;
    margin-bottom: 15px;
    width: 560px;
}

.stamp {
    cursor: pointer;
    height: 5%;
    left: 60%;
    margin-top: -1%;
    position: relative;
}

.state-consciousness > input {
    border: 1px solid #000000;
    border-radius: 5px;
    height: 35px;
    margin-bottom: 15px;
    width: 560px;
}

.temperature > input {
    border: 1px solid #000000;
    border-radius: 5px;
    height: 35px;
    margin-bottom: 15px;
    width: 560px;
}

/* media query tablet*/
@media screen and (max-width: 768px) {
    .back1 {
        margin-top: -9%;
        float: right;
        right: 85%;
        width: 8%;
    }

    .breath-frequency, .covid, .hearth-rate, .peak-flow, .pressure, .saturation, .temperature {
        width: auto;
    }

    .breath-frequency > input, .covid > input, .hearth-rate > input, .peak-flow > input, .pressure > input, .saturation > input, .temperature > input {
        border: 1px solid #000000;
        border-radius: 5px;
        height: 45px;
        margin-left: 29%;
        width: 51%;
    }

    .clm-left {
        flex: 50%;
        float: left;
        margin-top: 20%;
        width: 100%;
    }

    .clm-right {
        flex: 50%;
        float: left;
    }

    .firstDiag > input {
        margin-left: 30%;
        height: 40%;
        width: 60%;
    }

    .icon-print2 > #save {
        cursor: pointer;
        background: rgba(158, 191, 180, 0.5);
        border: 1px solid #000000;
        border-radius: 5px;
        height: 6%;
        position: absolute;
        right: 5%;
        top: 17%;
        width: 10%;
    }

    .icon-print2  >img{
        display: none;
    }

    .home {
        flex: 50%;
        float: left;
        margin-left: 5%;
        margin-top: 8%;
        position: absolute;
        top: 10%;
        width: 4%;
    }
    
    .link2 > h3{
        margin-left: 5%;
        top: 18%;
    }
        
    .note  > input {
        margin-left: 30%;
        height: 40%;
        width: 60%;
    }

    .state-consciousness{
        width: auto;
    }
    
    .state-consciousness > input {
        border: 1px solid #000000;
        border-radius: 5px;
        height: 45px;
        margin-left: 29%;
        margin-top: 8%;
        width: 51%;
    }
}

/* media query imput*/
@media only screen and (max-width:1388px) and (min-width: 1360px) {
    .clm-right {
        float: left;
        margin-top: -26rem;
        padding: 1rem;
    }

    .firstDiag > input {
        margin-top:71%;
        width: 60%;
    }

    .note > input {
        width: 60%;
    }
}

@media only screen and (max-width:1360px) and (min-width: 1090px) {
    .clm-right {
        margin-top: -28rem;
    }

    .breath-frequency > input, .covid > input, .hearth-rate > input, .peak-flow > input, .pressure > input, .saturation > input, .state-consciousness > input, .temperature > input{
        width: 65%;
        margin-left: 5%;
    }

    .firstDiag > input {
        margin-left: 100%;
        width: 65%;
    }

    .note > input {
        margin-left: 100%;
        width: 65%;
    }
}

@media only screen and (max-width:1090px) and (min-width: 875px) {
    .clm-right {
        margin-top: -28rem;
    }

    .breath-frequency > input, .covid > input, .hearth-rate > input, .peak-flow > input, .pressure > input, .saturation > input, .state-consciousness > input, .temperature > input{
        width: 55%;
        margin-left: 2%;
    }

    .firstDiag > input {
        margin-left: 75%;
        width: 60%;
    }

    .note > input {
        margin-left: 75%;
        width: 60%;
    }
}
@media only screen and (max-width:875px) and (min-width: 768px) {
    .clm-right {
        margin-top: -28rem;
    }

    .breath-frequency > input, .covid > input, .hearth-rate > input, .peak-flow > input, .pressure > input, .saturation > input, .state-consciousness > input, .temperature > input{
        width: 45%;
        margin-left: 2%;
    }

    .firstDiag > input {
        margin-left: 60%;
        width: 45%;
    }

    .note > input {
        margin-left: 60%;
        width: 45%;
    }

    .stamp {
        left: 58%;
        margin-top: -3%;
    }
}

/* media query stampa */
@media only screen and (max-width: 1000px) and (min-width: 875px) {
    .stamp {
        margin-top: -2%;
    }
}

/* media query home */
@media only screen and (max-width: 1000px) and (min-width: 768px) {
    .home {
        margin-left: 14%;
        margin-top: -4.5%;
        width: 3.6%;
    }
}

@media only screen and (max-width: 1200px) and (min-width: 1000px) {
    .back1 {
        margin-left: 1%;
        margin-top: 1%;
    }

    .home {
        margin-left: 3%;
        margin-top: -3.4%;
        width: 2.6%;
    }

    .icon-print2 > #save {
        right: 8%;
    }

    .link2 > h3 {
        margin-left: -6%;
        margin-top: 0.5%;
    }

    .stamp {
        left: 76%;
        margin-top: -1.2%;
    }
}

@media only screen and (max-width: 1350px) and (min-width: 1200px) {
    .home {
        margin-left: 10%;
        margin-top: -3.4%;
        width: 2.6%;   
    }
}

@media only screen and (max-width: 1532px) and (min-width: 1350px) {
    .home {
        margin-left: 6%;
        margin-top: -3%;
        width: 2.6%;  
    }
}

